.auth0-lock.auth0-lock {
  font-family: $font-family-sans-serif;

  .auth0-lock-widget {
    width:400px;
  }
  .auth0-lock-header-bg {
    display:none;
  }
  .auth0-lock-header {
    background:$gray-lightest;
    color:white;
    padding:0;
    height:auto;
  }

  .auth0-lock-content {
    padding:10px;
  }
  .auth0-lock-tabs-container {
    margin:-10px -10px 20px;
  }
  .auth0-lock-tabs {
    box-shadow:none;
     li {
       background:$gray-lighter;
       a {
         font-weight:200;
      }
      &.auth0-lock-tabs-current {
        background:white;
        box-shadow:none;
      }
    }
  }
  .auth0-lock-header-logo {
    width:auto;
    margin:1rem;
    display:block;
    height:45px;
  }
  .auth0-lock-name {
    display:none;
    background:$brand-grey;
    font-weight:200;
    padding:.5rem 0;
    font-size:$font-size-base;
  }
  .auth0-lock-submit {
    color:black;
    text-transform:capitalize;
    span {
      span {
        display:none;
      }
    }
  }
}
