main {
  &.sticky {
    margin-top:13rem;
    @media(min-width: $breakpoint-lg) {
      margin-top:9rem;
    }
  }
  margin-bottom:4rem;
}

.interactive-wrapper {
  width:100%;
  height:0;
  padding-bottom:75%;
  position:relative;
  margin-top:1rem;
  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
