.user-list {
  border-bottom:solid 1px $gray-lighter;
  display:flex;
  align-items: center;
  padding:1rem ;
  background:white;
  .user-list-options {
    margin:0 0 0 auto;
    .btn {
      margin:0;
    }
  }
  .list-title {
    text-transform: capitalize;
  }
  &.removing {
    background:$gray-lightest;
  }
  &.removed {
    transition: all 0s, opacity 200ms linear;
    opacity: 0;
  }
}

.profile {
  .menu-item {
    margin:1rem 0 0;
    padding:0 0 1rem 0;
    border-bottom:solid 1px $gray-lighter;
    list-style:none;
    width:100%;
  }
  h1 {
    border-bottom:solid 2px $gray-lighter;
    padding-bottom:1rem;
  }
  h3 {
    border-bottom:solid 1px $gray-lighter;
    padding-bottom:.5rem;
    margin-bottom:.5rem;
  }
}

.profile {
  .content-nav-mobile {
    display:none;
    @media(max-width: $breakpoint-lg) {
      display:flex;
    }
    margin:1rem 0 -1rem;
    select {
      display:flex;
      background-color:$gray-lightest;
      border:solid 1px $gray-lighter;
      color:$brand-gray;
    }
  }
}

.profile-list {
  .block-media__headline {
    display:flex;
    align-items:center;
  }
  .user-list-delete {
    margin-left:auto;
  }
}

.user-list-delete {
    background: white no-repeat 10px center url("/assets/images/remove.svg");
    color:$brand-gray;
    border:solid 1px $gray-lighter;
    background-size:16px 16px;
    padding-left:36px;
    font-size:$font-size-sm;
    border-radius:$border-radius-sm;
}
