.video-js-wrapper {
  width:100%;
  padding-bottom:56.25%;
  height:0;
  position:relative;
  display:flex;
  align-items:center;
  justify-content: center;
  flex: 0 0 75%;
  .video-js {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
  }
  .vjs-poster {
    align-items:inherit;
    justify-content: inherit;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
    background-size:cover;
  }
  .vjs-big-play-button {
    width:130px;
    height:130px;
    border-radius:130px;
    background:$brand-red no-repeat 57% 50% url("/assets/images/play.svg");
    transition: all 0.4s ease;
    margin:-65px 0 0 -65px;
    border:none;
    &:before {
      display:none;
    }
    // &:hover {
    //   background-color:$brand-grey;
    // }
    @media(max-width: $breakpoint-sm) {
      background-size: 40px 40px;
      height:80px;
      width:80px;
      border-radius:80px;
      margin:-40px 0 0 -40px;
    }
  }
}

.video-header {
  border-top:solid 1px $gray-lighter;
  display:flex;
  font-weight: $font-weight-normal;
  align-items:center;
  .video-actions {
    font-size:$font-size-sm;
    margin-left:auto;
    a {
      margin-left:2.5rem;
    }
  }
}
.video-embed-container {
  border-top:solid 1px $gray-lighter;
  display:none;
  position:relative;
  .btn {
    border-radius:$border-radius-sm;
  }
  label {
    margin-bottom: 1rem;
    font-weight: $font-weight-normal;
  }
  .video-embed-form {
    border-radius:$border-radius-sm;
    background:$gray-lightest;
    .btn {
      margin:0;
    }
  }
  &.show {
    display:block;
  }
}

.video-footer {
  @media(max-width: $breakpoint-xl) {
    border-bottom: solid 2px $gray-lighter;
    margin-bottom:1rem;
  }
  @media(max-width: $breakpoint-md) {
    font-size:$font-size-sm;
  }
  .info {
    &:nth-of-type(2) {
      border-right:none;
    }
  }
  display:flex;
  font-weight: $font-weight-normal;
  align-items:center;
  .video-actions {
    font-size:$font-size-sm;
    margin-left:auto;
    a {
      margin-left:2.5rem;
    }
  }
  .video-share {
    display:flex;
    align-items: center;
    margin-left:auto;
    .share-title {
      @media(min-width: $breakpoint-md) {
        margin-right:.75rem;
      }
    }

  }
}

.vjs-control-bar {
  font-size:.75rem;
}

.vjs-menu, .vjs-play-progress, .vjs-mouse-display {
  font-family:$font-family-base !important;
  font-weight: $font-weight-normal;
  &:before {
    font-family:VideoJS;
  }
}

.video-js {
  .vjs-progress-control {
      .vjs-progress-holder {
        font-size:1.66666666em;
      }
  }
}
