<div class="event-block">
      <h3 class="section-title">
        Events {{selectedMonthString}}
      </h3>
    <div *ngIf="noEvents === true" class="m-l-2 no-results">
      No events this month.
    </div>
    <div *ngIf="noEvents === false">
      <div class="list-item" *ngFor="let item of items">
        <span class="block_event__date">
      {{item.date}}
      </span>
      <a href="{{item.url}}" class="block-event__link">
      	{{item._source.title}}
      </a>
      </div>
    </div>

        <div class="month-selector">
            <a href="#" (click)="prevMonth($event)" [ngClass]="{disabled: selectedMonth.getValue() === 0}" class=" btn-sm btn-month-back"></a>

            <a href="#" (click)="nextMonth($event)" [ngClass]="{disabled: selectedMonth.getValue() === 11}" class="btn-sm btn-month-fwd"></a>

        </div>
        <a href="" class="event-block__calendar">Full Calendar</a>

  </div>
