<!-- <div class="swiper-container homepage-carousel"> -->
  <ks-swiper-container [options]="example1SwipeOptions" class="homepage-carousel">
  <!-- <div class="swiper-wrapper"> -->
    <ks-swiper-slide class="swiper-slide" *ngFor="let item of slides">
      <!-- <div class="swiper-slide" *ngFor="let item of slides"> -->
        <a href="#" [routerLink]="[item._source.link]">
          <picture>
            <source srcset="{{item._source.image[0].url}}" media="(min-width: 1024px)">
            <source srcset="{{item._source.image[0].url}}" media="(min-width: 769px)">
            <source srcset="{{item._source.image[0].url}}" media="(min-width: 0px)">
          <img srcset="{{item._source.image[0].url}}" alt="{{item._source.image[0].alt}}">
        </picture>
          <h2 class="display-4">
            <a href="#" [routerLink]="[item._source.link]">
              <span>{{item._source.sub_title}}</span> {{item._source.title}}
            </a>
          </h2>
      </a>
      <!-- </div> -->
    </ks-swiper-slide>

  <!-- </div> -->
  <div class="swiper-pagination" *ngFor="let item of slides"></div>
<!-- </div> -->
</ks-swiper-container>
