<header class="c-header" role="banner">
  <div class="container">
    <div class="mobile-logo hidden-lg-up">
			<a [routerLink]="['/']" class="c-logo-link">
				<img src="/assets/images/true-tube-logo_black.svg" class="logo c-logo-link__img" alt="True Tube">
			</a>
    </div>
    <div class="mobile-nav__search"><a class="mobile-nav__burger_search" (click)="mobileSearch($event)"></a></div>
    <div class="mobile-nav__burger"><a class="mobile-nav__burger_link" (click)="toggleMenu()"></a></div>

  </div>
  <div class="menu-mobile" [ngClass]="{show: menuVisible}">
    <div class="container">
      <div class="mobile-logo">
        <a href="/" class="c-logo-link">
          <img src="/assets/images/true-tube-logo_black.svg" class="logo c-logo-link__img" alt="True Tube">
        </a>
      </div>
      <app-primary-nav id="primary-nav" class="primary-nav"></app-primary-nav>
    </div>
    <!-- <app-secondary-nav id="secondary-nav" class="secondary-nav"></app-secondary-nav> -->

    <div class="mobile-nav__close"><a></a></div>

  </div>

</header>
<app-call-to-action [ngClass]="callToActionClasses"></app-call-to-action>
