<div class="row">
	<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right content-main">
		<div class="content-header">
			<h1 class="page-title">
				{{item.title}}
			</h1>
			<nav id="nav" class="content-nav">
				<button class="btn {{embed.class}}" [ngClass]="{active: i === 0}" *ngFor="let embed of item.resource_types | EmbedMenuPipe; let i = index"><span>{{embed.label}}</span></button>
			</nav>

			<!-- <div class="input-group content-nav-mobile">
			{{# contentMobileNav }}
			<select id="select" class="custom-select form-control" >
			<optgroup label="Select">
			{{# selectOptions}}
			<option {{selected}}>{{option}}</option>
			{{/selectOptions}}
		</optgroup>
	</select>
	{{/ contentMobileNav }}
</div> -->

</div>
<!-- {{> organisms-video }}
{{> organisms-lesson-plans }} -->
<template ngFor let-embed [ngForOf]="item.embedded" let-i="index" [ngForTrackBy]="trackByFn">

<div class="tab tab-videos visible" *ngIf="embed.type === 'film'">
	<div class="video-header">
		<span class="info icon-clock icon-small icon-left" *ngIf="embed.duration !== 0">{{duration(embed.duration)}}</span>

		<span class="info icon-cc icon-large" *ngIf="embed.subtitles !== null"></span>

		<div class="rating">
			<div class="rating-stars">
				<span class="rating-star filled"></span>
				<span class="rating-star filled"></span>
				<span class="rating-star filled"></span>
				<span class="rating-star filled"></span>
				<span class="rating-star "></span>
			</div>
			<div class="rating-label hidden-sm-down">2 Votes</div>
		</div>


		<div class="video-actions hidden-sm-down">
			<a href="" class="icon-download icon-small icon-left video-download" *ngIf="embed.allow_download !== '0'">Download</a>

			<a href="" class="icon-embed icon-small icon-left video-embed">Embed</a>

		</div>

	</div>
	<div class="video-embed-container">
		<div class="video-embed-form">
			<label>Use the following code to embed this video on your site or blog:</label>
			<div class="input-group">
				<input type="text" class="form-control" value="<iframe src='https://www.truetube.co.uk/embed/1970/700/395' width='700' height='395' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>">
				<span class="input-group-btn">
					<button class="btn" type="button">Copy</button>
				</span>
			</div>
		</div>
	</div>

	<div class="video-js-wrapper">
		<!-- <div class="vjs-poster" style="background-image:url(/images/sample/video.jpg)">
			<div class="vjs-big-play-button"></div>
		</div> -->
		<video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
	       poster="https://www.truetube.co.uk/sites/www.truetube.co.uk/files/film-thumbs/luke_800x450.png">
	  <source src="{{embed.source}}" type="video/mp4">
	  <track kind="captions" *ngIf="item.subtitles !== null" src="{{embed.subtitles}}" srclang="en" label="English" />
	  <p class="vjs-no-js">
	    To view this video please enable JavaScript, and consider upgrading to a web browser that
	    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	  </p>
	</video>
	</div>



	<div class="video-footer">
		<span class="info icon-views icon-small icon-left ">415 Views</span>

		<span class="info ">{{age(item.created)}}</span>


		<div class="video-share">
			<span class="share-title">Share</span>
			<a href="https://www.facebook.com/sharer/sharer.php?u=/item/{{item._id}}" class="icon-facebook hidden-xs-down icon-social"></a>

			<a href="https://twitter.com/intent/tweet?text={{item.title}}&amp;url=/item/{{item._id}}&amp;via=True Tube" class="icon-twitter hidden-xs-down icon-social"></a>

			<a href="'https://plus.google.com/share?url=/item/{{item._id}}" class="icon-google-plus hidden-xs-down icon-social"></a>

			<a href="" class="icon-share icon-social"></a>

		</div>
	</div>

</div>
</template>
</div>
<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
	<div class="content-info">
		<div class="add-to-toolbox">
			<!-- {{#buttonAddToToolbox}}
			{{>atoms-text-button}}
			{{/buttonAddToToolbox}} -->
		</div>
		<p [innerHTML]="item.description">
		</p>
		<div class="content-info-attributes">
			<!-- {{# infoAttributes }}
			{{> molecules-info }}
			{{/ infoAttributes}} -->


			<div *ngIf="hasAttributes(item.topic)">
				<h5>Main Topic</h5>
				<a href="/list?topics={{topic.slug}}" *ngFor="let topic of item.topic | AttributePipe" [innerHTML]=[topic.label]></a>
			</div>
			<div *ngIf="hasAttributes(item.related_topics)">
				<h5>Related Topic(s)</h5>
				<a href="/list?keystages={{topic.slug}}" *ngFor="let topic of item.related_topics | AttributePipe" [innerHTML]=[topic.label]></a>
			</div>
			<div *ngIf="hasAttributes(item.keystage)">
				<h5>Keystage(s)</h5>
				<a href="/list?keystages={{keystage.slug}}" ngTrim="false" *ngFor="let keystage of item.keystage | AttributePipe" [innerHTML]=[keystage.label]></a>
			</div>
			<div *ngIf="hasAttributes(item.subjects)">
				<h5>Subject(s)</h5>
				<a href="/list?subject={{subject.slug}}" *ngFor="let subject of item.subjects | AttributePipe" [innerHTML]=[subject.label]></a>
			</div>
			<div *ngIf="hasAttributes(item.keywords)">
				<h5>Keyword(s)</h5>
				<a href="/list?search={{keyword.slug}}" *ngFor="let keyword of item.keywords | AttributePipe" [innerHTML]=[keyword.label]></a>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-right">
	<!-- {{# relatedContent }}
	{{> organisms-section-grid-load-more }}
	{{/ relatedContent }} -->
</div>
<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left">
	<!-- {{> organisms-section-events-block }} -->
</div>

<!-- {{> organisms-footer }} -->

<h3 class="popover-title invisible video-download-title">Download</h3>
<div class="invisible video-download-content">
	<ul class="nav">
		<li class="nav-item"><a href="#">320x240 - MP4 - 2mb</a></li>
		<li class="nav-item"><a href="#">640x480 - MP4 - 5mb</a></li>
		<li class="nav-item"><a href="#">1024x768 - MP4 - 10mb</a></li>
	</ul>
</div>

<h3 class="popover-title invisible video-embed-title">Embed</h3>
</div>
