<!--
<h1>Hello {{ profile.name }}</h1>

<pre>{{ profile | json }}</pre> -->


<div class="row info-page">
  <div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-right m-t-2">
    <ul class="p-a-0">
    <li *ngFor="let menuItem of menu" class="menu-item">
      <a href="#" [routerLink]="menuItem.path" class="text-link {{menuItem.css}}">{{menuItem.label}}</a>
    </li>
  </ul>
  </div>
  <!-- <div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-left m-t-1">
    <h1 class="page-title">
      Hello {{ profile.name }}
    </h1>

    <div class="form-group row">
      <label for="example-text-input" class="col-xs-12 col-sm-3 col-form-label">
        Name
      </label>
      <div class="col-xs-12 col-sm-9">
        <input class="form-control" type="text" value="{{profile.name}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

    </div> -->
    <div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-left m-t-1">
      <h1 class="page-title">
        Your Lists
      </h1>
      <div *ngFor="let list of lists" class="user-list">
        <a href="" class="user-list-link">{{list}}</a><a *ngIf="list !== 'favourites'" href="" class="text-link icon-small icon-left icon-close user-list-delete">delete</a>
      </div>
    </div>
  </div>
