
<div class="grid-filter" id="GridFilter">
  <div class="grid-filter-header">
    <h5>
      Filter
    </h5>
    <span class="clear" *ngIf="filterActive()" (click)="clear($event, 'all')">
      Clear All
    </span>
  </div>
  <a href="#" (click)="showFilter($event)" class="btn filter-show-hide">Show</a>
  <fieldset class="filter-fieldset">
    <legend>
      <a href="#" class="collapse-toggle" (click)="toggleFilter($event)">
        Search Term
        <span class="clear" *ngIf="filterSearch" (click)="clear($event, 'filterSearch')">
          Clear
        </span>
      </a>
    </legend>
    <!-- <input id="filterSearch" [formControl]="term" class="form-control filter-search-term" type="text" [(ngModel)]="filterSearch" (keyup)="search(filterSearch)" placeholder="e.g. Social studies" /> -->
    <input id="filterSearch" [formControl]="listComponent.term" class="form-control filter-search-term" type="text" placeholder="e.g. Social studies" [(ngModel)]="filterSearch" />
  </fieldset>
  <fieldset class="filter-fieldset flex-none">
    <legend>
      <a href="#" class="collapse-toggle" (click)="toggleFilter($event)">
        Content Type(s)
        <span class="clear" *ngIf="filterTypesActive(typeObject)" (click)="clear($event, 'filterTypes')">
          Clear
        </span>
      </a>
    </legend>
    <button class="btn btn-sm" *ngFor="let type of types" (click)="setType($event, type)" [ngClass]="{active: isActive(type, 'typeObject')}" ngDefaultControl>{{type}}</button>
  </fieldset>
  <fieldset>
    <legend>
      <a href="#" class="collapse-toggle" (click)="toggleFilter($event)">
        Subject <span class="clear" *ngIf="subjectsActive(filterSubjects)" (click)="clear($event, 'filterSubjects')">Clear</span></a>
    </legend>
    <select [ngModel]="filterSubjects" (change)="setSubject($event, value)" class="custom-select form-control">
      <option selected>
        All
      </option>
      <option *ngFor="let subject of subjects" [value]="subject.label">{{subject.label}}</option>
    </select>
  </fieldset>
  <fieldset class="filter-fieldset filter-keystage flex-none">
    <legend>
      <a href="#" class="collapse-toggle" (click)="toggleFilter($event)">
        Key Stage(s)
        <span class="clear"  *ngIf="filterTypesActive(keyStagesObject)" (click)="clear($event, 'filterKeystages')">
          Clear
        </span>
      </a>
    </legend>
    <button class="btn btn-sm" *ngFor="let key of keystages" [(ngModel)]="filterKeystages" (click)="setKey($event, key)" [ngClass]="{active: isActive(key, 'keyStagesObject')}" ngDefaultControl>{{key}}</button>
  </fieldset>
  <fieldset class="filter-fieldset">
    <legend>
      <a href="#" class="collapse-toggle" (click)="toggleFilter($event)">
        Categories
        <span class="clear" *ngIf="filterCategory" (click)="clear($event, 'categories')">
          Clear
        </span>
      </a>
    </legend>
    <div class="form-group" *ngFor="let category of categories">
      <div class="form-check">
        <label class="form-check-label">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="filterCategories" [(ngModel)]="filterCategory" [value]="category.label" id="{{category.label}}" (change)="displaySubCategories($event)">
            <div class="custom-control-indicator"></div>
          </div>
          {{category.label}} ({{category.count}})
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset class="filter-fieldset" *ngIf="subCategories.length">
    <legend>
      <a href="#" class="collapse-toggle" (click)="toggleFilter($event)">
        Topics
        <span class="clear" *ngIf="filterSubCategories.length" (click)="clear($event, 'subCategories')">
          Clear
        </span>
      </a>
    </legend>
    <div class="form-group" *ngFor="let subcategory of subCategories">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" value="{{subcategory.label}}" [(ngModel)]="subcategory.checked" (change)="setSubCategories($event)">
        <div class="custom-control-indicator"></div>
        <span class="custom-control-description">{{subcategory.label}} ({{subcategory.count}})</span>
      </label>
    </div>
  </fieldset>

</div>
