<div class="row">
  <div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-right">
    <app-filter #filter>
    </app-filter>
  </div>
  <div class="col-xs-12 col-ml-12 col-xl-9 col-xl-p-left m-t-1">
    <h1 class="page-title" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
      {{pageTitle(filter.filterSubjects, filter.keystages, filter.types, filter.filter.value.term, filter.category, filter.topics)}}
      <span *ngIf="filter.itemsTotal !== 0">({{filter.itemsTotal}} {{filter.itemsTotalLabel}})</span>
    </h1>
    <listing-sort class="hidden-lg-down" *ngIf="itemCount !== 0"></listing-sort>
    <div class="row grid-row content-grid" *ngIf="itemCount === 0">
      <div class="list-item m-b-3">
        No results.
      </div>
    </div>

    <div class="row grid-row content-grid loading-grid" *ngIf="filter.contentLoading === true">
      <img src="/assets/images/loading.svg"/>
    </div>
    <div [ngClass]="{'row': true, 'grid-row': displayGrid, 'list-row': displayList, 'content-grid': true}" *ngIf="filter.contentLoading === false">
      <div class="list-item" *ngFor="let item of items | PaginationPipe:paginationData">
        <div class="block-media__media" *ngIf="item._source.thumbnail">
          <a [routerLink]="[item.slug]" [queryParams]="filter.currentType" class="block-media__link">
            <img [src]="item._source.thumbnail[0].url" alt="item._source.thumbnail[0].alt" />
            <div class="listing-time" *ngIf="item._source.duration">
              {{ dataService.duration(item._source.duration) }}
            </div>
          </a>
        </div>
        <div class="block-media__body">
          <a [routerLink]="[item.slug]" class="block-media__link">
            <h6 class="block-media__headline" *ngIf="item._source.title">
              {{ item._source.title }}
            </h6>
          </a>
          <p class="block-media__description" *ngIf="showDescriptions" [innerHTML]="item._source.description">
          </p>
          <div class="block-media__types" *ngIf="item.contenttypes">
            <a [routerLink]="[item.slug]" [queryParams]="type.query" *ngFor="let type of item.contenttypes" class="btn btn-sm {{ type.class }}">
              <span>
                {{ type.label }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <listing-sort class="last-sort" *ngIf="itemCount !== 0"></listing-sort>
  </div>
</div>
