<div class="grid-nav">
  <div class="pagination-group">
  <div class="input-group">
    <div class="form-inline">
<div class="form-group">
<label for="" class="c-field__label ">Items Per Page</label>
<select id="select" class="custom-select form-control">
	<optgroup label="Select">
			<option>9</option>
			<option>18</option>
			<option>36</option>
			<option>ALL</option>
	</optgroup>
</select>
</div>

      <label>Page</label>
      <ol class="pagination">
          <li *ngFor="let page of pages" [ngClass]="{'page-item': true, 'grid-nav-item': true, active: page.active}">
            <a href="#" class="" (click)="setPage($event, page.number)">{{page.number}}</a>
          </li>
      </ol>
    </div>
  </div>
</div>
  <div class="display-group">
    <div class="input-group">
      <div class="form-inline">
        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" checked class="custom-control-input toggle-descriptions" />
            <div class="custom-control-indicator"></div>
            <span class="custom-control-description" (click)="hideDescriptions($event)">Show Descriptions</span>
          </label>
        </div>
        <ol class="list-mode" id="contentGrid">
          <li [ngClass]="{'page-item':true, 'grid-nav-item':true, 'display-grid':true, 'active': listComponent.displayGrid}">
            <a href="#" (click)="setListDisplay('grid')">Grid</a>
          </li>
          <li [ngClass]="{'page-item':true, 'grid-nav-item':true, 'display-list':true, 'active': listComponent.displayList}">
            <a href="#" (click)="setListDisplay('list')">List</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

</div>
