<div class="row page-event" *ngFor="let item of items">
  <div class="col-xs-12 col-ml-12 col-xl-12">
    <div class="content-header wrap-title m-t-1">
      <div class="page-title-wrapper p-b-1">
        <h1 class="page-title">
        {{item._source.title}}
      </h1>
      <a href="#" class="icon-posted icon-small icon-left text-link" [routerLink]="'/calendar'">Full Calendar</a>
    </div>
      <h3 class="page-sub-title p-t-1">{{item.date}}</h3>
    </div>
  </div>
  <app-list-item [ngClass]="{'grid-row': item._source.description !== '', 'grid-row-four': item._source.description === ''}" [items]="item._source.related" [paginationData]="paginationData"></app-list-item>

<div class="col-xs-12 col-ml-12 col-xl-3 col-xl-p-left flex-order-lg-0 hidden-lg-down">
  <div class="content-info">
    <p [innerHTML]="item._source.description">
    </p>
  </div>
</div>
</div>
